:root {
    --main-color: #0B171F;
    --second-color: #1AE5BE;
    --main-font-color: #FFFFFF;
    --main-transtion: 0.3s;
}

.container {
    font-family: 'Poppins', sans-serif;
}

.container a {
    text-decoration: none;
}

.container .nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--main-color);
    position: fixed;
    width: 100%;
    z-index: 10;
}

.container .nav-bar .links-nav-bar i {
    display: none;
}

.container .nav-bar .links-nav-bar ul {
    display: flex;
    justify-content: space-between;
    width: 670px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.container .nav-bar .links-nav-bar ul li {
    list-style-type: none;
}

.container .nav-bar .links-nav-bar ul li a {
    color: #F9F9F9;
}

.container .nav-bar .links-nav-bar ul li a:hover {
    color: var(--second-color);
}

.container .nav-bar .news-letter a {
    color: var(--second-color);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(196, 196, 196, 0) 100%);
    border: 1px solid var(--second-color);
    border-radius: 6px;
    width: 112px;
    padding: 10px 0;
    display: inline-block;
    text-align: center;
}

.container .nav-bar .news-letter a:hover {
    background-color: var(--second-color);
    color: var(--main-color);
    transition: var(--main-transtion);
}

@media (max-width:1024px) {
    .container .nav-bar .news-letter {
        display: none;

    }

    .container .nav-bar .links-nav-bar i {
        display: block;
        color: var(--second-color);
        font-size: 25px;

    }
}

@media (max-width:1024px) {
    .container .nav-bar .links-nav-bar {
        position: relative;
    }

    .container .nav-bar .links-nav-bar ul {
        display: none;
        z-index: 1;
        position: absolute;
        right: -77px;
        top: 10px;
        max-width: 200px;
    }

    .container .nav-bar .links-nav-bar:hover ul {
        display: block;
    }

    .container .nav-bar .links-nav-bar ul li a {
        display: block;
        padding: 15px;
        color: #F9F9F9;
        transition: .3s;
        background-color: var(--main-color);

    }

    .container .nav-bar .links-nav-bar ul li a:hover {
        padding-left: 25px;
    }

    .container .nav-bar .links-nav-bar ul li:not(:last-child) a {
        border-bottom: 1px solid #ddd;
    }

}


.container .landing-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .landing-image h1 {
    color: var(--main-color);
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
}

.container .landing-image h1 span {
    color: var(--second-color);
}

.container .landing-image .landing-logo {
    max-width: min-content;
    margin-inline-start: 1.5rem;

}

.container .landing-image .cover img {
    max-inline-size: 100%;
    block-size: auto;

}

@media (max-width:1024px) {
    .container .landing-image .cover img {
        visibility: hidden;
    }

    .container .landing-image {
        background: linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.8)),
            url(../images/bg-image\ -small\ screen.webp);
        background-size: cover;
        background-position: center;
        display: block;
        position: relative;
    }

    .container .landing-image .landing-logo {
        margin: 0;
        text-align: center;
        max-inline-size: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .container .landing-image h1,
    .container .landing-image h1 span {
        color: var(--main-font-color);


    }
}



.container .roadmap {
    max-width: 100%;
    margin-block-start: 6rem;
    background-image: url(../images/blue\ circles.png), url(../images/circle\ shapes\ \(2\).png),
        url(../images/circle\ shapes.png), url(../images/Green\ Circles.png),
        url(../images/Green\ Circles.png), url(../images/circle\ shapes\ \(2\).png),
        url(../images/circle\ shapes.png), url(../images/blue\ circles.png),
        url(../images/blue\ circles.png), url(../images/circle\ shapes\ \(2\).png),
        url(../images/circle\ shapes.png), url(../images/Green\ Circles.png);
    background-position: left 1%, right 3%,
        left 19%, right 23%,
        left 41%, right 42%,
        left 60%, right 63%,
        left 74%, right 79%,
        left 95%, right 100%;
    background-repeat: no-repeat;

}

.container .roadmap .contain {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 385px);
    gap: 50px;
    justify-content: center;
    margin-inline: auto;
}

.container .roadmap img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

@media (min-width:772px) and (max-width:1200px) {
    .container .roadmap {
        grid-template-columns: repeat(auto-fill, 320px);
    }

    .container .roadmap img {
        width: auto;
    }
}

@media (max-width:771px) {
    .container .roadmap {
        grid-template-columns: repeat(auto-fill, 350px);

    }

    .container .roadmap img {
        width: auto;
    }

}

.container .roadmap .group {
    background: var(--main-font-color);
    box-shadow: 3px 3px 15px rgba(14, 29, 39, 0.2);
    border-radius: 6px;
    /* position: relative; */
}

.container .roadmap .head {
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    color: var(--main-color);
    margin-inline-start: 10px;
    margin-block: 6px 8px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.container .roadmap p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 29, 39, 0.6);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin-block-start: 0px;
    margin-inline-start: 10px;

}

.container .roadmap .btn-roadmap {
    margin-block-end: 20px;
}

.container .roadmap a {
    text-decoration: none;
    display: block;
    background: linear-gradient(180deg, #083863 0%, #0E1D27 100%);
    box-shadow: 3px 3px 10px rgba(14, 29, 39, 0.2);
    border-radius: 6px;
    color: var(--main-font-color);
    font-weight: 400;
    line-height: 36px;
    font-size: 14px;
    margin-inline-start: 10px;
    width: fit-content;
    padding-inline: 14px;
    align-items: flex-end;
    /* position: absolute;
    bottom: 16px; */
}

.container .footer-container {
    width: 100%;
    margin-block-start: 6rem;
    background-color: #0E1D27;
}

.container .footer {
    max-width: 85%;
    display: flex;
    margin-block-start: 120px;
    margin-inline: auto;
    justify-content: space-between;
    gap: 20px;
    color: var(--main-font-color);
    padding-block-start: 20px;
}


.container .footer h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.1em;
}

.container .footer .email-and-location {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.container .footer .email,
.container .footer .location i {
    color: var(--second-color);
    margin-inline-end: 5px;
}

.container .footer .location {
    max-width: 212px;
    display: flex;
    align-items: baseline;
}

.container .footer .newsletter form {
    display: block;
    max-width: 245px;
}

.container .footer .newsletter input[type=text],
.container .footer .newsletter input[type=email] {
    background: #091319;
    border: 1px solid var(--main-font-color);
    border-radius: 6px;
    color: #8B8B8B;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 227px;
    height: 36px;
    margin-block-end: 8px;
    padding-inline-start: 9px;
}

.container .footer .newsletter input[type=text]:focus,
.container .footer .newsletter input[type=email]:focus {
    border: 1px solid #1AE5BE;
    outline: none;
}

.container .footer .newsletter input[type=submit] {
    background: #1AE5BE;
    border-radius: 6px;
    width: 240px;
    height: 40px;
    text-align: center;
    color: #0E1D27;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border: none;
}

.container .footer .tags a {
    color: var(--main-font-color);
    display: block;
    margin-block-end: 5px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    align-self: flex-start;

}

.container .footer .tags a:hover {
    color: var(--second-color);
}

.container .footer .partener {
    text-align: center;
}

@media (max-width:772px) {
    .container .footer {
        display: block;
        text-align: center;
        margin: auto;
        padding-block-start: 20px;

    }

    .container .footer .location,
    .container .footer form {
        margin: auto;
    }
}

.container .copyright-container {
    width: 100%;
    background-color: var(--main-color);
}

.container .copyright {
    max-width: 85%;
    display: flex;
    margin-inline: auto;
    align-items: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    justify-content: space-between;
}

.container .copyright .links a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 22px;
    margin-inline: 10px;
}

.container .copyright .links a:hover {
    color: var(--second-color);
}

@media (max-width:772px) {
    .container .copyright {
        display: block;
        display: block;
        text-align: center;
        padding-block: 11px;
    }
}