:root{
    --main-color: #0B171F;
    --second-color: #1AE5BE;
}
.container {
    font-family: 'Poppins', sans-serif;
}
.container a{
    text-decoration: none;
}
.container .nav-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--main-color);
}

.container .nav-bar .links-nav-bar i{
    display: none;
}
.container .nav-bar .links-nav-bar ul{
    display: flex;
    justify-content: space-between;
    width: 670px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.container .nav-bar .links-nav-bar ul li{
    list-style-type: none;
}
.container .nav-bar .links-nav-bar ul li a{
    color: #F9F9F9;;
   
}
.container .nav-bar .links-nav-bar ul li a:hover{
    color: var(--second-color);
}
.container .nav-bar .news-letter a{
    color:var(--second-color);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(196, 196, 196, 0) 100%);
    border: 1px solid var(--second-color);
    border-radius: 6px;
    width: 112px;
    padding: 12px 0;
    display: inline-block;
    text-align: center;
}
.container .nav-bar .news-letter a:hover{
    background-color: var(--second-color);
    color: var(--main-color);
    transition: .3s;
}
@media (max-width:992px){
    .container .nav-bar .news-letter {
        display: none;
        
    }
    .container .nav-bar .links-nav-bar i{
        display: block;
        color: var(--second-color);
        font-size: 25px;

    }
}
@media (max-width:992px){
    .container .nav-bar .links-nav-bar {
        position: relative;
    }
    .container .nav-bar .links-nav-bar  ul{
        display: none;
        z-index: 1;
        position: absolute;
        right: -77px;
        top: 10px;
        max-width: 200px;
    }
    .container .nav-bar .links-nav-bar:hover ul {
        display: block;
    }
    .container .nav-bar .links-nav-bar ul li a{
        display: block;
        padding: 15px;
        color: #F9F9F9;
        transition: .3s;
        background-color: var(--main-color);
        
    }
    .container .nav-bar .links-nav-bar ul li a:hover{
        padding-left: 25px;
    }

    .container .nav-bar .links-nav-bar ul li:not(:last-child) a {
        border-bottom: 1px solid #ddd;
      }
    
}
.container .right-circles{
    display: flex;
    flex-direction: column;
    height: 2641px;
    justify-content: space-between;
    position: absolute;
    left: -5px;
    top: 150px;
}
.container .right-circles .circle{
    width: fit-content;
    
}
.container .landing-image {
    display: flex;
    align-items: center;
}
.container .landing-image .landing-logo{
    display: block;
    margin-inline-start: 100px;
    margin-inline-end: -94px;
}
@media (max-width:1200px){
    .container .landing-image .landing-logo{
        display: none;
       
    }
    .container .landing-image .cover img{
        max-width: 100vw;
        width: auto;
        margin: auto;
    }
    
}
.container .left-circles{
    display: flex;
    flex-direction: column;
    height: 2151px;
    justify-content:space-between;
    position: absolute;
    right: 0px;
    top: 60rem;
}
.container .left-circles .circle{
    width: fit-content;
    
}
@media (max-width:1200px) {
    .container .left-circles ,
    .container .right-circles{
        display: none;
    }
    
}